<div class="pagination">

    {% if page > 1 %}

        <a
            href="/leave_requests?page={{ page-1 }}&keyword={{ keyword }}&status={{ status }}&leave_type={{ leave_type }}">

            ← Trước

        </a>

    {% endif %}

    <span>

        Trang {{ page }} / {{ total_pages }}

    </span>

    {% if page < total_pages %}

        <a
            href="/leave_requests?page={{ page+1 }}&keyword={{ keyword }}&status={{ status }}&leave_type={{ leave_type }}">

            Sau →

        </a>

    {% endif %}

</div>