<form method="GET" class="card search-form">

    <div class="search-group">
        <input
            class="form-control"
            type="text"
            name="keyword"
            placeholder="Tên phòng ban..."
            value="{{ keyword | e  }}"
        >
    </div>

    <select
        class="form-control filter-select"
        name="status">

        <option value="">
            Tất cả trạng thái
        </option>

        <option value="Active"
            {% if status == "Active" %}
            selected
            {% endif %}>
            Active
        </option>

        <option value="Inactive"
            {% if status == "Inactive" %}
            selected
            {% endif %}>
            Inactive
        </option>

    </select>

    <button
        class="btn btn-primary"
        type="submit">
        Tìm Kiếm
    </button>

</form>