<div class="toolbar">
    {% if session.get('role') =='Admin' %}
    <a href="{{ url_for('employee.add_employee') }}"
       class="btn btn-success">
        + Thêm Nhân Viên
    </a>
    {% endif %}
    {%if session.get('role') in ['Admin', 'Manager'] %}
    <a href="{{ url_for('employee.export_employees_csv') }}"
       class="btn btn-primary">
        📄 Xuất CSV
    </a>
    {% endif %}
    {% if session.get('role') =='Admin' %}
    <button
    type="submit"
    form="bulk-delete-form"
    class="btn btn-danger"
    id="delete-selected-btn"
    disabled>

    Xóa đã chọn
    </button>
    {% endif %}

    <a href="{{ url_for('dashboard.home') }}"
       class="btn btn-secondary">
        ← Dashboard
    </a>

</div>