<div class="toolbar">
    {% if session.get('role') == 'Admin' %}
    <a
        href="{{ url_for('contract.add_contract') }}"
        class="btn btn-success">
        + Thêm Hợp Đồng
    </a>
    {% endif %}
    {% if session.get('role') == 'Admin' %}
    <button
    type="submit"
    form="bulk-delete-form"
    id="delete-selected-btn"
    class="btn btn-danger"
    disabled>
    Xóa đã chọn
    </button>
    {% endif %}

    {% if session.get('role') in ['Admin', 'Manager'] %}
    <a
        href="{{ url_for('contract.export_contracts_csv') }}"
        class="btn btn-primary">
        📄 Xuất CSV
    </a>
    {% endif %}

    <a
        href="{{ url_for('dashboard.home') }}"
        class="btn btn-secondary">

        ← Dashboard

    </a>

</div>